<!DOCTYPE='html'>
<html lang = 'pl'>

<head>
    <title>{% block title %}FA: Image Dashboard{% endblock %}</title>
    <meta charset = 'utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    {% block head %}{% endblock %}
</head>

<body>

    <header>
        {% block header %}
            <img src="{% static 'img/logo.png' %}">
            <p id = 'area'>FA<p>
            <a id = 'btn' href = '../login/'>Zaloguj się</a>
        {% endblock %}
    </header>
    <section>
        {% block content %}
        <div id= 'grid1'><img src = "{% get_media_prefix %}/fa/1.jpg"></div>
        <div id= 'grid2'><img src = "{% get_media_prefix %}/fa/2.jpg"></div>
        <div id= 'grid3'><img src = "{% get_media_prefix %}/fa/3.jpg"></div>
        <div id= 'grid4'><img src = "{% get_media_prefix %}/fa/4.jpg"></div>
        <div id= 'grid5'><img src = "{% get_media_prefix %}/fa/5.jpg"></div>
        <div id= 'grid6'><img src = "{% get_media_prefix %}/fa/6.jpg"></div>
        {% endblock %}
    </section>
</body>